@charset "UTF-8";

/* Estilo para telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(253, 223, 88);
}

header > h1 {
    text-align: center;
}

menu ul {
    list-style-type: none;
    background-color: rgb(174, 177, 25);
}

menu li {
    background-color: rgb(172, 49, 12);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 700px;
    display: block;
    margin: auto;
}